@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body
{
  background-color: #f2f2f2;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  color: #0d102f;
  -webkit-font-smoothing: antialiased;
  -webkit-oweflow-scrollng: touch;
  margin-top: 90px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Raleway';
  font-weight: 400;
  color: #121212;
}

p
{
  line-height: 28px;
  margin-bottom: 25px;
}

.centered
{
  text-align: center;
}

a
{
  color: #f85c37;
}

a:hover, a:focus
{
  color:#7b7b7b;
  text-decoration: none;
}

.navbar
{
  background:#5d5d5d;
  font-weight: 700;
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.navbar-brand
{
  color:
  font-weight: 800;
  font-size: 40px;
}
.navbar-brand:hover{
  color: #c7c7c7;
}
.nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em;
}
.nav-link:hover{
  background: #f4f4f4 !important;
  color: #111;
}
.nav-link:active{
  background: #f4f4f4 !important;
  color: #111;
  text-decoration: underline;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#424242 !important;
}
/* .navbar-toggler:hover{
  background:#8a8a8a !important;
} */
hr
{
  border-width:medium;
  border-color: #4d4d4d;
}
.navbar-toggler-icon{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #D0D4DC;
}
.navbar-toggler-icon:hover{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #333;
}


.thumb img
{
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}

.thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.thumb {
  padding: 5px;
}

.thumb h5.describe
{
  font-family: "Lato";
  margin-bottom: 1px;
}

#information p.text
{
  font-size: 18px;
  text-align: justify;
}

.pict
{
  height: 220px;
  width: 400px;
}

#bottom
{
  margin-bottom: 0;
  background: #5d5d5d;
  padding: 10px;
}

#bottom h5
{
  color: #fce454;
}

#bottom .number
{
  color: #ffffff;
  font-size: 22px;
}

#bottom a
{
  font-weight: 400;
  color: #ffffff
}
#bottom a:hover
{
  text-decoration: underline;
  font-weight: 500;
  color: #33cbf3;
}
